<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block carousel-custom-img first"></div>
      <div class="carousel-caption">
        <div class="caption-title">BOIS 1920</div>
        <div class="caption-text">Историята на едно парфюмно семейство</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block carousel-custom-img second"></div>
      <div class="carousel-caption">
        <div class="caption-title">EDEN Perfumes</div>
        <div class="caption-text">Естествени и веган масла от Великобритания</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block carousel-custom-img third"></div>
      <div class="carousel-caption">
        <div class="caption-title">Fragonard</div>
        <div class="caption-text">Как произвеждат своите парфюми</div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>