.carousel-custom-img {
    height: 500px;
    min-width: 100vw;
    background-position: center;

    &.first {
        background-image: url("../../../../assets/images/header-la-cura-dei-dettagli.jpg");
    }

    &.second {
        background-image: url("../../../../assets/images/header-2.jpg");
    }

    &.third {
        background-image: url("../../../../assets/images/yAXgEGYpEeePlWejOjfPIA-9RgIPIMHEeqNw6kAep_FcA.jpeg");
    }

    &.fourth {
        background-image: url("../../../../assets/images/Grasse-2-1920x500.jpg");
    }
}

.carousel-inner {
    width: 100vw;
}

.carousel-item {
    // DISABLE ANIMATIONS FOR WEBSITE SPEED
    transition: none !important;
}

.carousel-caption {
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.caption-title {
    font-size: 44px;
    font-family: 'Montserrat';
}

.caption-text {
    font-size: 32px;
}

@media only screen and (max-width: 1000px) {
    .caption-title {
        font-size: 40px;
    }
    
    .caption-text {
        font-size: 28px;
    }
}

@media only screen and (max-width: 767px) {
    .caption-title {
        font-size: 34px;
    }
    
    .caption-text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 435px) {
    .caption-title {
        font-size: 30px;
    }
    
    .caption-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 350px) {
    .caption-title {
        font-size: 28px;
    }
    
    .caption-text {
        font-size: 18px;
    }
}