.frag-description-type {
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
    font-weight: bold;
}

.frag-summary {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.frag-notes {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
}

.ff-exo-2 {
    font-family: 'Exo 2', sans-serif;
}

.custom-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-text {
    font-size: 21px;
    font-family: 'Petit Formal Script';
    font-weight: bold;
}

.exit-button {
    cursor: pointer;
    background-image: url("../../../assets/images/icons/close.svg");
    width: 28px;
    height: 28px;
    display: block;
    margin-right: 5px;
    background-size: cover;
    position: absolute;
    right: -15px;
    top: -12px;
}

.button-text {
    font-family: 'Montserrat';
}