.frag-description-type {
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
}

.frag-summary {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.frag-notes {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
}

.frag-perfumers {
    font-family: 'Exo 2', sans-serif;
}

.frag-designer-info {
    font-family: 'Exo 2', sans-serif;
}

.frag-name-info {
    font-family: 'Exo 2', sans-serif;
}

.frag-notes-info {
    font-style: italic;
}