<i class="exit-button" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()"></i>
<div class="modal-header justify-content-center">
  <div class="title-text">{{fragrance.designer}} {{fragrance.name}}</div>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-7">
        <img class="w-100 h-100" [src]="fragrance.image">
      </div>
      <div class="col-sm-5">
        <div class="frag-name">
          <span class="frag-description-type">Име: </span> <span class="ff-exo-2">{{fragrance.name}}</span>
        </div>
        <hr class="custom-divider">
        <div class="frag-designer">
          <span class="frag-description-type">Дизайнер: </span> <span class="ff-exo-2">{{fragrance.designer}}</span>
        </div>
        <hr class="custom-divider">
        <div class="frag-gender">
          <span class="frag-description-type">Пол:</span>
          {{fragrance.gender == 'male' ? 'Мъж' : ''}}
          {{fragrance.gender == 'female' ? 'Женa' : ''}}
          {{fragrance.gender == 'unisex' ? 'Унисекс' : ''}}
        </div>
        <hr class="custom-divider">
        <div class="ff-exo-2">
          <span class="frag-description-type">
            {{fragrance.perfumers.length > 1 ? 'Парфюмъри:' : 'Парфюмър:'}}
          </span>
        </div>
        <div class="frag-perfumer-list" *ngFor="let perfumer of fragrance.perfumers">
          <span class="ff-exo-2">{{perfumer}}</span>
        </div>
        <hr class="custom-divider">
        <div class="frag-notes">
          <span class="frag-description-type">Връхни ноти:</span> <span class="font-italic">{{fragrance.topNotes}}</span>
          <br>
          <span class="frag-description-type">Средни ноти:</span> <span class="font-italic">{{fragrance.midNotes}}</span>
          <br>
          <span class="frag-description-type">Базови ноти:</span> <span class="font-italic">{{fragrance.baseNotes}}</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="frag-summary">
        <span class="frag-description-type">Описание:</span> {{fragrance.summary}}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-center py-2">
  <a target="_blank" rel="noopener noreferrer" href="https://www.notino.bg/">
    <button mat-raised-button color="primary">
      <span class="button-text">Намери парфюма</span>
    </button>
  </a>  
</div>