<div class="main-screen drag-to-navbar">
  <div class="row ml-0 mr-0 first-view">
    <div class="col pt-5 d-flex justify-content-center align-items-center">
      <div class="main-title mt-4">
        Светът на парфюмите
      </div>
    </div>
  </div>
  <div class="row m-0 second-view pl-4 pr-4 pb-5 pt-4 align-items-center">
    <div class="col p-0">
      <div class="row m-0">
        <div class="col d-flex justify-content-center align-items-center">
          <div class="second-view-title fs-26px mb-4">
            Научете за:
          </div>
        </div>
      </div>
      <div class="row m-0">
        <mat-card class="col-xs-12 col-md-5 col-lg-6 col-xl-2 pb-0 container info-card first">
          <div class="card-img-wrapper">
            <div mat-card-image class="card-top-img first"></div>
          </div>
          <div class="mt-1">
            <ul class="description-list px-4">
              <li>Парфюмите на известните личности по света</li>
              <hr class="my-1">
              <li>Най-харесваните парфюми от различните половете</li>
              <hr class="my-1">
              <li>Избиране на парфюм като подарък</li>
            </ul>
          </div>
          <mat-card-footer>
            <a target="_blank" rel="noopener noreferrer" href="https://www.fragrantica.com/">
              <button mat-flat-button class="card-button d-flex w-100 justify-content-center">
                <span class="card-button-text">Още</span>
              </button>
            </a>
          </mat-card-footer>
        </mat-card>
        <mat-card class="col-xs-12 col-md-5 col-lg-6 col-xl-2 pb-0 container info-card second">
          <div class="card-img-wrapper">
            <div mat-card-image class="card-top-img second"></div>
          </div>
          <div class="mt-1">
            <ul class="description-list px-4">
              <li>Как да организираме колекцията си от парфюми</li>
              <hr class="my-1">
              <li>Как да подбираме парфюми за нашата колекция</li>
              <hr class="my-1">
              <li>Как да спестяваме пари при купуването на парфюми</li>
            </ul>
          </div>
          <mat-card-footer>
            <a target="_blank" rel="noopener noreferrer" href="https://www.fragrantica.com/">
              <button mat-flat-button class="card-button d-flex w-100 justify-content-center">
                <span class="card-button-text">Още</span>
              </button>
            </a>
          </mat-card-footer>
        </mat-card>
        <mat-card class="col-xs-12 col-md-5 col-lg-6 col-xl-2 pb-0 container info-card third">
          <div class="card-img-wrapper">
            <div mat-card-image class="card-top-img third"></div>
          </div>
          <div class="mt-1">
            <ul class="description-list px-4">
              <li>Защо естествените масла са важни за кожата ни</li>
              <hr class="my-1">
              <li>Издържливост на различните нотки</li>
              <hr class="my-1">
              <li>От къде произлизат нотките в парфюмите</li>
            </ul>
          </div>
          <mat-card-footer>
            <a target="_blank" rel="noopener noreferrer" href="https://www.fragrantica.com/">
              <button mat-flat-button class="card-button d-flex w-100 justify-content-center">
                <span class="card-button-text">Още</span>
              </button>
            </a>
          </mat-card-footer>
        </mat-card>
        <mat-card class="col-xs-12 col-md-5 col-lg-6 col-xl-2 pb-0 container info-card fourth">
          <div class="card-img-wrapper">
            <div mat-card-image class="card-top-img fourth"></div>
          </div>
          <div class="mt-1">
            <ul class="description-list px-4">
              <li>Какво представляват нишовите парфюми</li>
              <hr class="my-1">
              <li>Какво представляват дизайнерските парфюми</li>
              <hr class="my-1">
              <li>Мнения на инфлуенсъри в света на парфюмерията</li>
            </ul>
          </div>
          <mat-card-footer>
            <a target="_blank" rel="noopener noreferrer" href="https://www.fragrantica.com/">
              <button mat-flat-button class="card-button d-flex w-100 justify-content-center">
                <span class="card-button-text">Още</span>
              </button>
            </a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row m-0 third-view">
    <parfyumi-carousel></parfyumi-carousel>
  </div>
  <div class="row m-0 fourth-view-desktop">
    <div class="contact-wrapper">
      <div class="left-contact">
        <div class="left-contact-content-wrapper">
          <div class="left-contact-text">
            Свържете се с нас за обратна връзка
          </div>
          <div class="right-arrow-icon"></div>
        </div>
      </div>
      <div class="right-contact">
        <mat-card class="contact-card">
          <mat-form-field class="name-input" appearance="outline">
            <mat-label>Име</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="email-input" appearance="outline">
            <mat-label>Имейл</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="message-input" appearance="outline">
            <mat-label>Съобщение</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="contact-button-wrapper d-flex align-items-center">
            <a routerLink="/home">
              <button mat-flat-button class="contact-button d-flex justify-content-center">
                <span class="contact-button-text">Изпрати</span>
              </button>
            </a>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="fourth-view-mobile">
    <div class="row m-0 pt-5 align-items-center top-content">
      <div class="col mt-5">
        <div class="top-contact-text">
          Свържете се с нас за обратна връзка
        </div>
        <div class="right-arrow-icon-mobile mt-4"></div>
      </div>
    </div>
    <div class="row m-0 align-items-center bottom-content">
      <div class="col d-flex justify-content-center">
        <div class="bottom-contact">
          <mat-card class="contact-card-mobile">
            <mat-form-field class="name-input" appearance="outline">
              <mat-label>Име</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="email-input" appearance="outline">
              <mat-label>Имейл</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="message-input" appearance="outline">
              <mat-label>Съобщение</mat-label>
              <input matInput>
            </mat-form-field>
            <div class="contact-button-wrapper d-flex align-items-center">
              <a routerLink="/home">
                <button mat-flat-button class="contact-button d-flex justify-content-center">
                  <span class="contact-button-text">Изпрати</span>
                </button>
              </a>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>