<div class="main-screen drag-to-navbar">
    <div class="title-wrapper mb-5">
        <div class="main-title">Светът на парфюмите</div>
    </div>
    <div class="row m-0 second-view p-4">
      <mat-card class="col-xs-12 col-md-8 col-lg-6 col-xl-2 container info-card">

      </mat-card>
      <mat-card class="col-xs-12 col-md-8 col-lg-6 col-xl-2 container info-card">

      </mat-card>
      <mat-card class="col-xs-12 col-md-8 col-lg-6 col-xl-2 container info-card">

      </mat-card>
      <mat-card class="col-xs-12 col-md-8 col-lg-6 col-xl-2 container info-card">

      </mat-card>
    </div>
</div>