<div class="entirety drag-to-navbar">
  <div class="container py-4">
    <div class="row">
      <div class="col mb-3">
        <mat-card class="faq-container mx-auto ">
          <div class="main-title mb-2">Често задавани въпроси за парфюмите:</div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    1. Защо парфюмите миришат различно по различните хора?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                <strong>Вашата собствена химия на тялото</strong> засяга как различните нотки реагират на кожата ви.
                Всичко, което засяга "естествената" миризма на кожата ви, като стрес, хормонални промени, текущата ви
                диета или лекарства,
                може да промени начина, по който парфюмът мирише върху вас.
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    2. Как мога да направя парфюмът ми да седи по-дълго на кожата ми?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                Парфюмите се изпаряват по-бързо на суха кожа, така че най-добрият начин да направите аромата
                по-дълготраен
                е
                <strong>с използването на лосион за тяло или крем</strong>. Някои хора обичат да купуват
                "съответстващия"
                крем за техния аромат.
                Друг начин е да впръскате малко от парфюмът по косата ви. Той ще се задържи за много по-дълго от колкото
                на
                кожата ви.
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    3. Какво е Eau De Toilette, Eau De Parfum и т.н.?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                Тези термини се отнасят до силата на аромата, или по-конкретно, до колко алкохол и/или вода е добавено
                към
                ароматните масла.
                <br>
                <strong>Eau Fraiche</strong> (Обикновено 3% или по-малко парфюмно масло)
                <br>
                <strong>Eau de Cologne</strong> (2 - 5% парфюмно масло)
                <br>
                <strong>Eau de Toilette</strong> (4 - 10% парфюмно масло)
                <br>
                <strong>Eau de Parfum</strong> (8 - 15% парфюмно масло)
                <br>
                <strong>Soie de Parfum</strong> (15 - 18% парфюмно масло)
                <br>
                <strong>Parfum</strong> или <strong>Парфюм</strong> (15 - 25% - също понякога наричани екстракт или
                extrait).
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    4. Какво представляват върховите, средните и базовите ноти?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                <strong>Върховите нотки</strong> придава първото впечатление на аромата. Те обикновено са по-леки,
                по-летливи
                аромати, които лесно се изпаряват. Техният аромат обикновено се задържа между 5 и 30 минути.
                <br>
                <strong>Средните нотки</strong>, понякога наричани „сърдечни нотки“, представляват тялото на сместа. Те
                могат
                да бъдат очевидни от самото начало, но обикновено са необходими 10-30 минути, за да се развият напълно
                върху
                кожата.
                <br>
                <strong>Базовите нотки</strong> са тези с най-голямо молекулно тегло. Те издържат най-дълго и също са
                важни
                като фиксатори, т.е. те спомагат за забавяне на скоростта на изпаряване на по-леките нотки, като
                придават
                на
                аромата сила.
                <br>
                Ароматите, които нямат традиционни върхови, средни и базови нотки обикновено се описват като "линейни".
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    5. Колко дълго мога да запазя парфюма си преди да се развали?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                Парфюмите могат да издържат до <strong>8-10 години</strong> преди да почнат да се развалят при правилно
                съхраняване. За да
                съхранявате парфюма правилно, дръжте го далеч от топлина и светлина. Най-добре е тъмен килер или покрита
                кутия. Също така избягвайте директно излагане на въздух.
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    6. Мога ли да нося мъжки аромат, ако съм жена?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                <strong>Абсолютно.</strong> Само през последните 150 години са направени разграничения между мъжки и женски аромати.
                Разбира
                се, някои може да са по-подходящи за определен пол, но всичко е личен избор. Има мъже, които носят
                "Jicky & Angel", и много жени, които обожават "Eau Sauvage" или "Habit Rouge".
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    7. Какво представляват "нишовите" парфюми?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                "Ниша" е името, дадено на парфюмите, които често са <strong>интересни, необичайни, специални, трудни за намиране
                  - а понякога и скъпи.</strong> През последните няколко години се наблюдава огромен възход в "нишовата"
                парфюмерията,
                като на парфюмерната сцена се появяват много очарователни нови имена. Всички те работят с една и съща
                "палитра" от ароматни съставки, но често нишовите парфюмеристи опитват смели комбинации или са
                вдъхновени от много лични събития и преживявания. Всички аромати разказват история, а изследването на
                "нишовите" парфюмите може да бъде чудесен начин да научите за обонятелната вселена.
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    8. Мога ли да нося повече от един парфюм наведнъж?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                Да! Знаете ли, че в Близкия изток жените слоят до <strong>СЕДЕМ</strong> аромата наведнъж? Никога не се
                страхувайте да
                си играете с парфюмите. Прекрасното нещо при аромата е, че няма правилно или грешно: ако нещо ви
                харесва,
                значи е правилно. Първоначално може да искате да опитате да носите два аромата от същото "семейство" и
                постепенно да ставате
                все по-смели.
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    9. Защо не мога да помириша собствения си парфюм след няколко минути?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                Носът се десенсибилизира и бързо свиква с нотите на вашия парфюм. Възможно е изобщо да не можете да го
                помиришете след 30-40 минути, въпреки че <strong>приятелите и колегите ви все още могат да го усетят.</strong>
              </div>
            </mat-expansion-panel>
          </div>
          <div class="mb-4 mx-auto panel-width">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="question">
                    10. Какво представлява ароматната нотка?
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="answer">
                <strong>Нотката в парфюма е индивидуален елемент</strong> - например лимон, жасмин, роза, ябълка, сандалово дърво и много
                хиляди други цветя, билки, подправки и гори, които парфюмеристите използват. Заедно, комбинирайки
                отделните ноти, носовете създават хармонии и композиции. Езикът на парфюмерията заимства много от езика
                на музиката и никога не е развил собствен речник.
              </div>
            </mat-expansion-panel>
          </div>

          <!-- OLD DESIGN -->

          <!-- <h3 class="question">1. Защо парфюмите миришат различно по различните хора?</h3>
            <ul class="answer">
              <strong>Вашата собствена химия на тялото</strong> засяга как различните нотки реагират на кожата ви.
              Всичко,
              което засяга
              "естествената" миризма на кожата ви, като стрес, хормонални промени, текущата ви диета или лекарства, може
              да
              промени начина, по който парфюмът мирише върху вас.
            </ul>
            <h3 class="question">2. Как мога да направя парфюмът ми да седи по-дълго на кожата ми?</h3>
            <ul class="answer">
              Парфюмите се изпаряват по-бързо на суха кожа, така че най-добрият начин да направите аромата по-дълготраен
              е
              <strong>с използването на лосион за тяло или крем</strong>. Някои хора обичат да купуват "съответстващия"
              крем за техния аромат.
              Друг начин е да впръскате малко от парфюмът по косата ви. Той ще се задържи за много по-дълго от колкото
              на
              кожата ви.
            </ul>
            <h3 class="question">3. Какво е Eau De Toilette, Eau De Parfum и т.н.?</h3>
            <ul class="answer">
              Тези термини се отнасят до силата на аромата, или по-конкретно, до колко алкохол и/или вода е добавено към
              ароматните масла.
              <br>
              <strong>Eau Fraiche</strong> (Обикновено 3% или по-малко парфюмно масло)
              <br>
              <strong>Eau de Cologne</strong> (2 - 5% парфюмно масло)
              <br>
              <strong>Eau de Toilette</strong> (4 - 10% парфюмно масло)
              <br>
              <strong>Eau de Parfum</strong> (8 - 15% парфюмно масло)
              <br>
              <strong>Soie de Parfum</strong> (15 - 18% парфюмно масло)
              <br>
              <strong>Parfum</strong> или <strong>Парфюм</strong> (15 - 25% - също понякога наричани екстракт или
              extrait).
            </ul>
            <h3 class="question">4. Какво представляват върховите, средните и базовите ноти?</h3>
            <ul class="answer">
              <strong>Върховите нотки</strong> придава първото впечатление на аромата. Те обикновено са по-леки,
              по-летливи
              аромати, които лесно се изпаряват. Техният аромат обикновено се задържа между 5 и 30 минути.
              <br>
              <strong>Средните нотки</strong>, понякога наричани „сърдечни нотки“, представляват тялото на сместа. Те
              могат
              да бъдат очевидни от самото начало, но обикновено са необходими 10-30 минути, за да се развият напълно
              върху
              кожата.
              <br>
              <strong>Базовите нотки</strong> са тези с най-голямо молекулно тегло. Те издържат най-дълго и също са
              важни
              като фиксатори, т.е. те спомагат за забавяне на скоростта на изпаряване на по-леките нотки, като придават
              на
              аромата сила.
              <br>
              Ароматите, които нямат традиционни върхови, средни и базови нотки обикновено се описват като "линейни".
            </ul>
            <h3 class="question">5. Колко дълго мога да запазя парфюма си преди да се развали?</h3>
            <ul class="answer">
              Парфюмите могат да издържат до <strong>8-10 години</strong> преди да почнат да се развалят при правилно
              съхраняване. За да
              съхранявате парфюма правилно, дръжте го далеч от топлина и светлина. Най-добре е тъмен килер или покрита
              кутия. Също така избягвайте директно излагане на въздух.
            </ul> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>