<div class="entirety">
  <div class="container py-4">
    <div class="row">
      <div class="col">
        <div class="faq-container mx-auto p-2">
          <h1 id="main-title">Често задавани въпроси за парфюмите:</h1>
          <h3 class="question">1. Защо парфюмите миришат различно по различните хора?</h3>
          <ul class="answer">
            <strong>Вашата собствена химия на тялото</strong> засяга как различните нотки реагират на кожата ви.
            Всичко,
            което засяга
            "естествената" миризма на кожата ви, като стрес, хормонални промени, текущата ви диета или лекарства, може
            да
            промени начина, по който парфюмът мирише върху вас.
          </ul>
          <h3 class="question">2. Как мога да направя парфюмът ми да седи по-дълго на кожата ми?</h3>
          <ul class="answer">
            Парфюмите се изпаряват по-бързо на суха кожа, така че най-добрият начин да направите аромата по-дълготраен
            е
            <strong>с използването на лосион за тяло или крем</strong>. Някои хора обичат да купуват "съответстващия"
            крем за техния аромат.
            Друг начин е да впръскате малко от парфюмът по косата ви. Той ще се задържи за много по-дълго от колкото
            на
            кожата ви.
          </ul>
          <h3 class="question">3. Какво е Eau De Toilette, Eau De Parfum и т.н.?</h3>
          <ul class="answer">
            Тези термини се отнасят до силата на аромата, или по-конкретно, до колко алкохол и/или вода е добавено към
            ароматните масла.
            <br>
            <strong>Eau Fraiche</strong> (Обикновено 3% или по-малко парфюмно масло)
            <br>
            <strong>Eau de Cologne</strong> (2 - 5% парфюмно масло)
            <br>
            <strong>Eau de Toilette</strong> (4 - 10% парфюмно масло)
            <br>
            <strong>Eau de Parfum</strong> (8 - 15% парфюмно масло)
            <br>
            <strong>Soie de Parfum</strong> (15 - 18% парфюмно масло)
            <br>
            <strong>Parfum</strong> или <strong>Парфюм</strong> (15 - 25% - също понякога наричани екстракт или
            extrait).
          </ul>
          <h3 class="question">4. Какво представляват върховите, средните и базовите ноти?</h3>
          <ul class="answer">
            <strong>Върховите нотки</strong> придава първото впечатление на аромата. Те обикновено са по-леки,
            по-летливи
            аромати, които лесно се изпаряват. Техният аромат обикновено се задържа между 5 и 30 минути.
            <br>
            <strong>Средните нотки</strong>, понякога наричани „сърдечни нотки“, представляват тялото на сместа. Те
            могат
            да бъдат очевидни от самото начало, но обикновено са необходими 10-30 минути, за да се развият напълно
            върху
            кожата.
            <br>
            <strong>Базовите нотки</strong> са тези с най-голямо молекулно тегло. Те издържат най-дълго и също са
            важни
            като фиксатори, т.е. те спомагат за забавяне на скоростта на изпаряване на по-леките нотки, като придават
            на
            аромата сила.
            <br>
            Ароматите, които нямат традиционни върхови, средни и базови нотки обикновено се описват като "линейни".
          </ul>
          <h3 class="question">5. Колко дълго мога да запазя парфюма си преди да се развали?</h3>
          <ul class="answer">
            Парфюмите могат да издържат до <strong>8-10 години</strong> преди да почнат да се развалят при правилно
            съхраняване. За да
            съхранявате парфюма правилно, дръжте го далеч от топлина и светлина. Най-добре е тъмен килер или покрита
            кутия. Също така избягвайте директно излагане на въздух.
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>