.entirety {
    background: url(../../../assets/images/bloom-blooming-bottle-965731.jpg);
    min-height: calc(100vh - 40px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-wrapper {
    background-color: white;
    border-radius: 25px;
    border: 2px solid#666666;
    margin-top: 50px;

    &.filter {
        padding-bottom: 15px;
    }

    &.frags {
        margin-bottom: 50px;
    }
}

.header-text {
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 13px;
}

.radio-button-text {
    font-family: 'Rubik', sans-serif;
}

.main-padding {
    padding-top: 80px;
}

.filter-radio-group {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.custom-divider {
    border-top: 2px solid #8c8b8b;
}

.radio-wrapper {
    margin-left: 20px;
}

.radio-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
}

.fragrances {
    min-height: 782px;
}