<div class="entirety drag-to-navbar">
  <div class="container main-padding">
    <div class="row">
      <div class="col-md-4">
        <div class="header-wrapper filter">
          <div class="header-text">
            Филтри
          </div>
          <hr class="custom-divider">
          <div class="radio-wrapper">
            <span class="radio-title"><b>Пол:</b></span>
            <div class="radio-button-text">
              <mat-radio-group aria-labelledby="fragrance-gender" class="filter-radio-group">
                <mat-radio-button *ngFor="let gender of genderOptions" [value]="gender" 
                  [checked]="gender.checked" (click)="filterGender(gender)">
                  {{gender.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <hr>
          <div class="radio-wrapper">
            <span class="radio-title"><b>Дизайнер:</b></span>
            <div class="radio-button-text">
              <mat-radio-group aria-labelledby="fragrance-designer" class="filter-radio-group">
                <mat-radio-button *ngFor="let designer of designerOptions" [value]="designer" 
                  [checked]="designer.checked" (click)="filterDesigner(designer)">
                  {{designer.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="header-wrapper frags text-center">
          <div class="header-text">
            Лист с парфюми
          </div>
          <hr class="custom-divider">
          <div class="fragrances">
            <fragrance class="d-inline-block" *ngFor="let frag of visibleFrags" 
              [fragInfo]="frag" (click)="openModal(frag)"></fragrance>
          </div>
          <div class="paginator">
            <p-paginator [rows]="12" [totalRecords]="filteredFrags.length" 
              (onPageChange)="paginate($event)" #paginator></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>