// @import "./parfyumi-theme.scss";
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-dialog {
    margin-top: 140px !important;
    max-width: 623px !important;
}

.modal-content {
    border-radius: 20px !important;
}

.drag-to-navbar {
    margin-top: -81px !important;
}

.pointer {
    cursor: pointer;
}

.fs-10px {
    font-size: 10px;
}

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

.fs-16px {
    font-size: 16px;
}

.fs-18px {
    font-size: 18px;
}

.fs-20px {
    font-size: 20px;
}

.fs-22px {
    font-size: 22px;
}

.fs-24px {
    font-size: 24px;
}

.fs-26px {
    font-size: 26px;
}

.fs-28px {
    font-size: 28px;
}

.fs-30px {
    font-size: 30px;
}

home {
    .message-input .mat-form-field-outline {
        height: 120px;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
        margin-bottom: -3em !important;
    }

    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff4081;
    }

    .mat-focused .mat-form-field-label {
        color: #ff4081 !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: #ff4081;
    }

    .mat-input-element {
        caret-color: #ff4081;
    }
}

frag-list {
    // PRIMENG PAGINATOR
    .p-paginator {
        border-radius: 0 0 25px 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-width: 1px 0 0 0;
        background-color: white;
    }

    .p-link:focus {
        box-shadow: none;
    }

    .p-paginator .p-paginator-pages .p-paginator-page,
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
        border-radius: 50%;
    }

    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
        background: #ff4081;
        border-color: #ff4081;
    }

    // MATERIAL
    .mat-radio-button {
        font-family: 'Montserrat Alternates';
    }
}

fragrance-modal {
    .mat-raised-button.mat-primary {
        background-color: #ff4081e6;
    }

    .mat-raised-button.mat-primary:hover {
        background-color: #ff2771;
    }
}

app-footer {
    .signup-input .mat-form-field-flex {
        padding: 0 0 0 0 !important;
    }
    
    .signup-input .mat-form-field-infix {
        padding: 0 0 0 0 !important;
        border-top: none !important;
    }
    
    .signup-icon-input {
        display: block;
    }
    
    .signup-icon {
        color: #333333;
    }
    
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background: white;
        border-radius: 6px;
    }
    
    // .mat-form-field-wrapper:hover {
    //     cursor: pointer !important;
    // }
    
    .mat-form-field-underline {
        display: none !important;
    }
    
    .mat-form-field-wrapper {
        padding: 0 !important;
    }

    .mat-form-field {
        color: black;
    }
}
