// @import "./parfyumi-theme.scss";
@import "~bootstrap/dist/css/bootstrap.css";
// @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans+Condensed&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-dialog {
    margin-top: 140px !important;
    max-width: 600px !important;
}

.modal-content {
    border-radius: 20px !important;
}

.drag-to-navbar {
    margin-top: -81px !important;
}