.not-found {
    background-image: url("../../../assets/images/404.png");
    min-height: calc(100vh - 40px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}