footer {
    background-color: #333;
    overflow: auto;
    color: #fff;
}

.footer-wrapper {
    margin: 0 auto;
}

.copyright {
    font-family: 'Petit Formal Script', cursive;
    font-size: 15px;
}

.social-media-icons:hover {
    opacity: 0.5;
}

.social-media-icons {
    font-size: 26px;
    cursor: pointer;
}

a {
    color: inherit;
}