<footer>
    <div class="row ml-0 mr-0 mt-3 justify-content-center">
        <div class="col-auto d-flex align-items-center">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/">
                <i class="fab fa-facebook social-media-icons pointer"></i>
            </a>
        </div>
        <div class="col-auto d-flex align-items-center">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/">
                <i class="fab fa-instagram social-media-icons pointer"></i>
            </a>
        </div>
        <div class="col-auto d-flex align-items-center">
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/">
                <i class="fab fa-twitter social-media-icons pointer"></i>
            </a>
        </div>
        <div class="col-auto d-flex align-items-center">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zhuan-mustafa/">
                <i class="fab fa-linkedin-in social-media-icons pointer"></i>
            </a>
        </div>
    </div>
    <div class="row m-0 my-3">
        <div class="col d-flex justify-content-center align-items-center">
            <div class="footer-wrapper">
                <div class="copyright">@Parfyumi.info</div>       
            </div>
        </div>
    </div>
</footer>